<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.ac.darmajaya.keretaapi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/main_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".PencarianActivity" />

        </activity>

        <activity
            android:name=".PencarianActivity"
            android:label="Pencarian"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity
            android:name=".JalurkaActivity"
            android:label="Semboyan Kereta Api"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".SemboyanJalur.SemboyanSementaraActivity"
            android:label="Semboyan Kereta Api"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".SemboyanJalur.SemboyanTetapActivity"
            android:label="Semboyan Kereta Api"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".KeretaapiActivity"
            android:label="Semboyan Kereta Api"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".LangsirActivity"
            android:label="Semboyan Langsir"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".GentaActivity"
            android:label="Semboyan Genta"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".PengertianActivity"
            android:label="Pengertian dari Semboyan"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".SubLayoutActivity"
            android:label="Semboyan Kereta Api"
            android:parentActivityName=".PengertianActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".TentangAplikasi"
            android:label="Tentang Aplikasi"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".PencarianDetailActivity"
            android:label="Penjelasan Semboyan"
            android:screenOrientation="portrait" />

        <activity
            android:name=".PengertianDetailActivity"
            android:label="Penjelasan"
            android:parentActivityName=".PengertianActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts"
            android:screenOrientation="portrait" />


    </application>
</manifest>